body{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 100vh;
  padding-left: 40%;
  padding-right: 40%;
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

img{
  width: 90%;
  height: 70%;
  border-radius: 5%;
  background-size: cover;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  padding-top: 0.80rem;
  padding-bottom: 0.80rem;
  border-radius: 5%;
  
}
span{
  display: block;
}
h1{
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 600;
}
p{
  font-family: sans-serif;
  font-size: 0.80rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  font-weight: 500;
}

@media only screen and (max-width: 600px) {

  body{
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
  img{
    width: 80%;
    height: 70%;
    border-radius: 5%;
    background-size: cover;
  }
  .app{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 5%;
  
  }
  span{
    display: block;
  }
  h1{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
  }
  p{
    font-family: sans-serif;
    font-size: 0.80rem;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
    font-weight: 500;
  }
}